body {
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
  }
  .marca{
    font-family: 'Rowdies', cursive;
    
}
nav,nav ul a{
    font-size: 1.15em;
    background: #f8f9fa;
    color:rgba(0,0,0,.5);
}
nav .brand-logo{
    color:#000;
}
.justificado{
    text-align: justify;
}
.subtitulos{
    font-family: 'Rowdies', cursive;
    font-weight: bold;
    font-size: 1.3em;

}
.textos{
    font-family: 'Rowdies', cursive;
}
.card {
    
    border:solid 1px;
    border-color:  #28a745;
}
.card-image {
    
    border-bottom:solid 1px;
    border-color:  #28a745;
}
.material-icons{
font-size: 40px;
}
img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: 25em;
    object-fit: cover;
    border-radius: 2px;
}
.menu-fixed {
    position:fixed;
    z-index:1000;
    top:0;
    /*max-width:1000px;*/
    left:0;
    width:100%;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
  }
  .fa {
    padding: 0.5em;
    font-size: 2em;
    width:2em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  .texto-footer,.texto-footer a {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.4em;
    color:#fff;
  }

  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  .imgIcon{
    width: 3em;
    height: 3em;
  }
  .claseFooter{
      background: #f7f7f7;
      border:solid 1px;
    border-color:  #28a745;
  }
  .bordeForm{
    border:solid 1px;
    border-color:  #28a745;  
    padding: 3px;
    border-radius: 3px;
  }
  .padCol{
      margin-left: 1em;
  }
  .valid-mail, .num, .valid-mensaje{
    color:#f36060;
    }
    .texto-footer,.texto-footer a {
        font-family: 'Architects Daughter', cursive;
        font-size: 1.4em;
        color:#fff;
      }
      .colorCopy{
         background:#292b2c !important;
      }